/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&family=Poppins:wght@500&display=swap');


/* common styles or utilities*/
body{
    background-color: rgba(209, 110, 110, 0.171);
}
p{
    font-family: 'Poppins', sans-serif;
}
span{
    font-family: 'Poppins', sans-serif;
}


/*-----------
-------- header start------
------------------------*/

header .icon-img{
    width: 70px;
    margin-left: 40px;
    margin-top: 20px;
    animation: sliding 1.6s ease-in-out 0.4s infinite alternate;
    animation-play-state: running;
    
}
@keyframes sliding {
    from{
        transform: scale(0.7);
    }
    to{
        transform: scale(1.1);
    }
}
.header-container{
     display: flex;
     justify-content: flex-end;
     margin-bottom: 50px;
}
.start-journey{
      margin: 20px 50px 30px 40px;
}
.start-journey h1{
    font-size: 52px;
    font-weight: 900;
    color: rgb(43, 42, 42);
    font-family: 'Nunito Sans', sans-serif;
}
.start-journey p{
    color: rgb(43, 42, 42);
    font-weight: 500;
}
.start-journey button {
    color: white;
    padding: 10px 15px;
    background-image: linear-gradient(rgb(83, 43, 30),rgb(151, 67, 67));
    border: none;
    border-radius: 5px;
    transition: 0.4s;
}
 .start-journey button:hover{
    padding: 10px 20px; 
     background-image: linear-gradient(rgb(151, 67, 67),rgb(83, 43, 30));
     
} 
.start-journey button a{
    color: white;
    text-decoration: none;
    margin-right: 5px;
   
    outline: none;
}

.camera{ 
    margin: 0px 50px 0px 50px;
}
.camera img{
    width: 100%;
    padding-top: 50px;
}

/* -----------------
product style start
--------------------- */

.product-container{
    margin-bottom: 100px;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;

}
.product{
    
    margin-top: 50px;
    margin-right: 0;
    border: 0.1px solid rgb(187, 184, 184);
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
}
.product:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.pdu-img{
   
}
.pdu-img img{
    width: 100%;
}
.section-title{
    font-size: 28px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.product-detail h4{
    font-size: 25px;
    color:rgb(43, 42, 42) ;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.product-detail h5{
    font-size: 24px;
    color:rgb(22, 22, 22) ;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.product-detail p{
    font-size:14px ;
}
.product-container .see-more-btn{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin-top: 50px;
    margin-right: 60px;
}
    
.product-container a {
   
    
    color: rgb(204, 54, 54);
    text-decoration: none;
    margin-right: 5px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
.product-container .btn{
    color: rgb(204, 54, 54);
}
.products .product{
     width: 250px;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #aeaeae;
}
/* ------------------------
contact form start from here
----------------------------*/

.contact-container h2{
       text-align: center;
       font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: rgb(43, 42, 42);
    font-size: 30px;
}
.contact{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 100px;
}
.contact span{
    font-weight: 900;
    color: ;
    color: rgb(10, 8, 8);
}
.contact input, textarea{
    margin: 10px 0px;
    resize: none;
    padding: 5px 10px;
    border: none;
    background-color: rgb(219, 200, 200);
   
}
.contact input:hover, textarea:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
address h5{
    font-size: 16px;
    font-weight: 500px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 10px 0px;
}
address p{
    font-size: small;
    margin: 0;
}
.contact-form button{
    color: white;
    padding: 10px 15px;
    background-image: linear-gradient(rgb(83, 43, 30),rgb(151, 67, 67));
    border: none;
    border-radius: 5px;
   transition: 0.4s;
}
.contact-form button:hover{
    background-image: linear-gradient(rgb(151, 67, 67),rgb(83, 43, 30));
}



/* -----------------
    footer start
--------------- */

footer{
    background-color: rgb(27, 18, 15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 30px 0;
}
footer h5{
    font-size: 25px;
    color: rgb(172, 143, 143);
    
    font-family: 'Poppins', sans-serif;
    margin: 5px 0 15px 0;

}
footer .footer-delt{
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
footer .footer-delt strong{
    font-weight: 200;
    font-size: small;
}
.footer-delt .style-icon{
    margin: 0px 10px;
    font-size: 15px;
}
.footer-delt .style-icon:visited{
    color: rgb(51, 51, 192);
}

/* ---------------
    responsive starts
----------------------*/

@media only screen and (max-width:688px){
    .container{
        width: 100%;
    }
    .products{
        
         grid-template-columns: repeat(1, 1fr);
    }
    .product{
        flex-direction: column;
    }
    header .icon-img{
        display: none;
    }
    .header-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
    }
    .header-container .start-journey .camera{
         width: 100%;
         margin: 0px;
         padding: 0px;
        
    }
    .header-container .start-journey{
        padding: 0;
        order: 2;
        text-align: center;
        
    }
    .contact{
        flex-direction: column;
    }
    .contact address{
        margin-top: 50px;
    }
    
}
@media only screen and (min-width:688px) and (max-width:992px){
    .container{
        width: 100%;
    }
    .products{
        grid-template-columns: repeat(2, 1fr);
        
    }
    .header-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .header-container .start-journey .camera{
         width: 100%;
         
    }
    .header-container .start-journey{
        order: 2;
    }
}
@media only screen (min-width:992px) {

}

